
.bottom_line{
	border-top: 3px solid #FFD801;
}

.bottom_line_2{
  border-top: 5px solid #0067A5;
}


.icon-features:hover i , .icn-srv , .features_list_1 li:before , .features_list_2 li:before , .cbp-qtprogress , .grid figure:hover figcaption, .bestPlanTitle{

  background:#FFD801;
}




.icon-service a , .icon-service a:hover, .icon-service a:link, .icon-service a:focus{
  color:#FFD801;

}


.mem svg path {
  fill: #FFD801;
}


.grid-gallery ul {
	color:#cacaca;
}

.grid-gallery figcaption p {
	color:	#8f8f8f;
}

.grid figure:hover figcaption h3{
	color: #f1f1f1;
}

.grid figure:hover figcaption p{
	color: #dcdcdc;
}

.overlay{

background: rgba(255, 216, 1, 0.9);

}


#facts .full{
  background:rgba(255, 216, 1, 0.6);
}



